---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date"> By <a href="http://blog.codeg.cn">CodeG</a> | {{ page.date|date:"%Y-%m-%d" }} | Tags : {% for tag in page.tags %}                
                	<a href="/tag#{{tag}}" title="View all posts filed under {{tag}}">{{tag}}</a>
                {% endfor %} 
                </br>
                本博客  <a href="http://blog.codeg.cn{{ page.url }}">http://blog.codeg.cn{{ page.url }}</a>  贴出的是作者（<a href="http://blog.codeg.cn">CodeG</a>）的相关研究、学习内容所做的笔记，欢迎广大朋友指正和交流！
        </p>
        {{ content }}

			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'codegcn'; // required: replace example with your forum shortname
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

    <div class="sidenav">
		<style type="text/css">
		#so360{white-space:nowrap}
		#so360 form{margin:0;padding:0}
		#so360_keyword{width:172px;height:24px;line-height:24px;font:14px arial;padding:2px 5px;margin-right:5px;
		border:2px solid #3FB30E;outline:0;vertical-align:middle}
		#so360_keyword{background:url(http://p3.qhimg.com/d/inn/d84bf96d/bg.png) no-repeat right center}
		#so360_submit{width:60px;height:32px;border:0;color:#fff;background:#3FB30E;
		font-weight:bold;font:bold 14px arial;padding:0;padding-top:3px\9;cursor:pointer;
		vertical-align:middle}
		</style>
		<div id="so360">
		   <form action="http://www.so.com/s" target="_blank" id="so360form">
		   <input type="text" autocomplete="on" name="q" id="so360_keyword">
		        <input type="submit" id="so360_submit" value="搜 索">
		        <input type="hidden" name="ie" value="utf8">
		        <input type="hidden" name="src" value="zz">
		        <input type="hidden" name="site" value="blog.codeg.cn">
		        <input type="hidden" name="rg" value="1">
		    </form>
		</div>
		<script type="text/javascript">
		(function() {
		   function $(id) {
		      return document.getElementById(id);
		   }
		   function addEvent(node , type , fn) {
		       if(node.addEventListener) {
		           node.addEventListener(type , fn , false);
		       } else if(node.attachEvent){
		           node.attachEvent("on" + type , fn);
		       } else {
		           node["on" + type] = fn;
		       }
		   };
		   var form = $("so360form");
		   if(!form) {
		       return;
		   }
		   addEvent(form , "submit" , function() {
		       form.src.value = "zz_" + window.location.host.replace(/\./g , "_");
		       return true;
		   });
		})();
		</script>
    </div>

    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="sidenav">
						<h2>Categories</h2>
						<ul>
							{% for category in site.categories %}
							<li class="cat-item cat-item-{{category | last | size }}"><a
								href="/category/{{category | first}}.html"
								title="View all posts filed under {{category | first}}">{{category| first}} ({{category | last | size }})</a></li> 
							{% endfor %}
						</ul>
						
						<h2>Tags</h2>
						<ul>
							{% for tag in site.tags %}
							<li class="cat-item cat-item-{{tag | last | size }}"><a
								href="/tag#{{tag[0]}}"
								title="View all posts filed under {{tag | first}}">{{tag| first}} ({{tag | last | size }})</a></li> 
							{% endfor %}
						</ul>	
    </div>    
</div>

<script src="/js/post.js" type="text/javascript"></script>
